
body{

	font-family: Georgia;
	border:1px solid black;
	padding-left: 90px;
	padding-right: 90px;
	padding-top: 30px;

}

h1 {
	font-family: 'Raleway', sans-serif;
	padding-top: 30px;
	text-align: center;
	
}

.categories {
	font-style: italic;

}